/* basic */
* {
    padding: 0;
    margin: 0;
    font-family: 'Caesar Dressing', cursive;
    
}
/* scroll bar */
::-webkit-scrollbar {
  width: 8px;
}   
::-webkit-scrollbar-thumb {
  background: #333;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
}
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
::-webkit-scrollbar-track {
  background: #e3e3e3;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ccc;
}

a:hover {
    color: #eee;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#body {
    background-color: #111;
    overflow-x: hidden;
    color: #ccc;
}


/* header */

#header {
    background: white;
    height: 50px;
    line-height: 50px;
    border-bottom: #666 solid 1px;
}

#header a {
    color: #333;
}

#header a:hover {
    color: #666;
}

#header #logo {
    height: 49px;
}

#header ul {
    float: right;
}

#header ul li {
    display: inline-block;
    margin-left: 2em;
}


/* main */

#main {
    min-height: 300px;
    z-index: 100;
    overflow: hidden;
    position: relative;
}


/* footer */

#footer {
    height: 300px;
    border-top: #666 1px solid;
}

#footer #astronaut {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 2000px;
    transition: all 2s linear;
}
#footer #astronautWrapper {
    height: 100px;
}

#footer .footer-title {
    font-size: 1.7em;
}

#footer ul {
    margin-top: 50px;
}

#footer a {
    color: #EEE;
}

#footer a:hover {
    color: #DDD;
}

#footer #quick-links,
#footer #contact-me {
    width: 50%;
    text-align: center;
}

#footer #quick-links {
    float: left;
}

#footer #contact-me {
    float: right;
}

#footer ul img {
    margin-left: 20px;
}